[submodule "lib/Tam.Lib.Data"]
	path = lib/Tam.Lib.Data
	url = https://bitbucket.org/BillinghamJ/lib-data.git
[submodule "lib/Tam.Lib.Services"]
	path = lib/Tam.Lib.Services
	url = https://bitbucket.org/BillinghamJ/lib-services.git
[submodule "lib/Tam.Lib.Model"]
	path = lib/Tam.Lib.Model
	url = https://bitbucket.org/BillinghamJ/lib-model.git
[submodule "lib/Tam.Lib.Security"]
	path = lib/Tam.Lib.Security
	url = https://bitbucket.org/BillinghamJ/lib-security.git
